[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
twine = "*"
pytest = "*"
pytest-sugar = "*"
pytest-cov = "*"
codecov = "*"
pytest-asyncio = "*"
sqlalchemy = "*"
pylint = "*"
"flake8" = "*"

[requires]
python_version = "3.6"
