[[source]]

url = "https://pypi.doubanio.com/simple/"
verify_ssl = true
name = "pypi"


[packages]



[dev-packages]

pytest = "*"
pytest-sugar = "*"
pytest-cov = "*"

[requires]

python_version = "3.6"
