[[source]]

url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pypi"


[packages]



[dev-packages]

pytest = "*"
pytest-sugar = "*"
pytest-cov = "*"
codecov = "*"
pytest-asyncio = "*"
sqlalchemy = "*"
"pysqlcipher3" = "*"


[requires]

python_version = "3.6"
